<h1>Eat Da Burger, Eat it Now!</h1>
<br>

   <div class="row">
        <div class="col-md-6 menu">
            <h2>On the Menu</h2>
            <hr/>
            {{#each burgers}} 
                {{#unless this.devoured}}
                <h5>{{this.burger_name}}</h5>
                <button type="button" class="btn eatButton" data-id="{{id}}" data-devoured="{{devoured}}">Eat it.</button>
                {{/unless}} 
            {{/each}}
        </div>
<div id='devoured'>
            <h2>Devoured Burgers</h2>
            <hr/>
            {{#each burgers}} 
                {{#if this.devoured}}
                <h5>{{this.burger_name}}</h5>
                {{/if}} 
            {{/each}}
            <br/><br/>
        </div>
    </div>

<div id='add'>
    <h2>Add a Burger: </h2>

    <form class="create-update-form" action="/" method="POST">
        <div class="form-group">
            <label for="dab">Burger Name:</label>
            <input type="text" id="dab" name="burger_name">
        </div>
        <button class="btn btn-primary" type="submit">Add Burger</button>
    </form>
</div>